
/*NAVBAR*/
	#web-nav {
		padding: 3px 80px 3px 80px;
		background-color: #04387C;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 75px;
	}

	#web-nav a {
		text-decoration: none;
		color: #FFF;
		font-family: "Albert Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.48px;
	}

	#web-nav li {
	    text-decoration: none;
	    display: inline;
	    margin-left: 42px;
	}

	#web-nav a:hover {
		color: #F47420;
	}

	#search {
		display: flex;
		flex-direction: row;
	}

	.search {
		color: #EAF3F3;
		font-family: "Albert Sans", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}


	.searchbar {
		width: 200px;
		border-radius: 100px;
		background-color: #EAF3F3;
		margin-left: 14px;
		padding: 0px 13px;
		display: flex;
		align-items: center;
	}



	/*HEADER*/
	#header h3 { 
		color: #F47420;
		font-family: "Afacad", sans-serif;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.96px;
		margin-bottom: 37px;
	}

	#header {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}


	.button1 {
		color: #04387C;
		text-align: center;
		font-family: "Albert Sans";
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px;
		border: none;
		background-color: transparent;
	}

	.head-txt {
		display: flex;
		flex-direction: row;
		gap: 56px;
	}

	#left {
		padding: 80px 88px 67px 88px;
		max-width: 640px;
	}

	#right {
		padding: 80px 88px 67px 88px;
		max-width: 640px;
	}

	.sections {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}

	.box {
		padding: 11px;
		border-radius: 20px;
		background: #EAF3F3;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-right: 14px;
		min-height: 186px;
		margin-bottom: 5px;
		justify-content: space-between;
	}

	.sctn-title {
		color: #272727;
		text-align: center;
		font-family: "Albert Sans", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px;
	}

	.summary {
		color: #04387C;
		text-align: center;
		font-family: "Albert Sans", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
	} 

	.box button {
		color: #F47420;
		font-family: "Albert Sans", sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: 800;
		line-height: 22px;
		border: none;
		background-color: transparent;
	}

	.date {
		color: #272727;
		font-family: "Albert Sans", sans-serif;
		font-size: 8px;
		font-style: normal;
		font-weight: 500;
		line-height: 10px;
	}



/*ROUTES*/
	#routes {
		padding: 80px;
		background-color: #272727;
		display: grid;
		grid-template-columns: 4fr 8fr;
		justify-content: space-between;
	}

	#routes h2 {
		color: #F47420;
		font-family: "Afacad", sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.84px;
		margin-bottom: 25px;
	}

	.routes-left {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.routes-left button {
		color: #EAF3F3;
		font-family: "Albert Sans", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 15px;
		background: #F47420;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		margin-top: 25px;
		height: 38px;
		width: 171px;
	}

	.routes-right {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.img-txt {
		position: absolute;
		bottom: 17px;
  		left: 17px;
  		color: #F47420;
		font-family: "Albert Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 800;
		line-height: 22px
  	}

  	.map-image {
		position: relative;
  		text-align: left;
  	}

  	.trail-name {
  		color: #EAF3F3;
		font-family: "Albert Sans", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 15px;
		margin-bottom: 8px;
		margin-top: 15px;
  	}

  	.trail-dscrp {
  		color: #ACD0D6;
		font-family: "Albert Sans", sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: 500;
		line-height: 15px; 
	}

	.map-group {
		width: 168px;
	}



/*REGULATIONS*/
	#regulations {
		background-color: #EAF3F3;
		padding: 80px 271px 72px 271px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 62px;
	}

	#regulations h2 {
		color: #04387C;
		font-family: "Afacad", sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.84px;
	}

	#regulations p {
		color: #272727;
		font-family: "Albert Sans", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 19px;
	} 

	#regulations button {
		color: #EAF3F3;
		text-align: center;
		font-family: "Albert Sans";
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px;
		height: 53px;
		width: 224px;
		border-radius: 15px;
		background-color: #04387C;
		display: flex;
		justify-content: center;
		align-items: center;
	}



/*FOOTER*/
	#footer {
		padding: 143px 80px 107px 80px;
		background-color: #04387C;
		display: grid;
		grid-template-columns: 8fr 2fr;
		column-gap: 206px;
	}


	.foot-title {
		color: #FFF;
		font-family: "Afacad", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 35px;
		letter-spacing: 0.72px;
	}

	.foot-text {
		color: #ACD0D6;
		font-family: "Albert Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 25px;
	}

	.address {
		color: #ACD0D6;
		font-family: "Albert Sans", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
	}

	.media {
		margin-right: 9px;
		margin-top: 42px;
		align-items: center;
	}

















@media screen and (min-width: 481px) {

	#mobile-nav {
		display: none;
	}
}


@media screen and (max-width: 480px) {


	/*NAVBAR*/
	#web-nav {
		display: none;
	}

	#mobile-nav {
		padding: 14px 25px 14px 25px;
		background-color: #04387C;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}


	.logo {
		width: 40px;
	}


	/*HEADER*/

	#header {
		display: flex;
		flex-direction: column;
		padding: 51px 15px;
	}


	.button1 {
		text-align: start;
	}

	.head-txt {
		display: flex;
		flex-direction: column;
		gap: 0px;
		margin-bottom: 30px;
	}

	#header h3 { 
		margin-bottom: 7px;
	}

	#left {
		padding: 0px;
		margin-bottom: 83px;
	}

	#right {
		padding: 0px;
	}

	.sections {
		display: flex;
		flex-direction: column;
		gap: 51px;
		align-items: center;
	}

	.box { 
		width: 146px;
	}


	/*ROUTES*/
	.routes-right {
		display: none;
	}

	.title-right {
		display: none;
	}

	#routes {
		padding: 80px 110px;
		background-color: #272727;
		display: flex;
		flex-direction: column;
		justify-content: centre;
	}

	.routes-left {
		align-items: center;
	}


	#routes h2 {
		margin-bottom: 16px;
	}

	.routes-left button {
		margin-top: 16px;
	}



	/*REGULATIONS*/
	#regulations {
		background-color: #EAF3F3;
		padding: 45px 85px;
		gap: 20px;
		text-align: center;
	}

	#regulations p {
		display: none;
	}



	/*FOOTER*/
	#footer {
		padding: 25px 28PX;
		display: flex;
		flex-direction: column;
	}

	.foot-text {
		display: none;
	}

	.foot-title {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.48px;
		margin-bottom: 20px;
	}

	.address {
		color: #ACD0D6;
		font-family: "Albert Sans", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
	}

	.foot-right {
		display: flex;
		flex-direction: row;
	}



}